<div class="container">
    <hr>

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <b>CELULARES Y SMARTPHONES</b>
                <hr>
                <p class="textodescriptivo"> Lo mejor en tecnología móvil llega con <b> Falabella.com </b> y lo más avanzando en Smartphones de última generación. Mantente conectado con variedad en celulares desbloqueados en las mejores marcas que podrás escoger en nuestro catálogo
                    online, tales como Celulares Samsung de alta gama, la gran resolución de los Celulares Huawei, así como los nuevos Celulares Xiaomi, entre otros. Asimismo, no olvides complementarlo con sus accesorios más importantes, tales como Cargadores
                    de Celulares que no te dejará sin batería, un cómodo Smartwatch para ver tus notificaciones y llamadas sin necesidad de tener el celular cerca o disfrutar de tu música con la más alta fidelidad en Audífonos, también Tarjetas de Memoria
                    para guardar tus fotos y vídeos favoritos, entre otros. No olvides que contamos con lo mejor en Computadoras de última generación, al igual que consolas de Videojuegos como el afamado PS4 y el clásico Nintendo. Falabella.com tiene
                    además grandes descuentos en todos sus productos como Calzado, donde encontrarás tanto Zapatillas como Zapatos en marcas y modelos de tu preferencia. Asimismo, podrás decorar tu casa con lo mejor en Muebles, modernos Televisores, reproductores
                    de audio y vídeo, entre otras cosas.
                </p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card-columns">
                <div class="card p-3">
                    <img src="assets/images/imagen1.jpg" class="card-img-top" alt="...">


                    <div class="card-body">
                        <h5 class="card-title"> Iphone 11 64GB </h5>
                        <p class="card-text titleMarca"> APPLE </p>
                        <p class="card-text"><small class="text-muted">S/ 549 (Oferta)</small></p>
                    </div>

                    <footer class="footer">
                        <button type="button" class="btn btn-warning btn-block"> Ver detalle</button>
                    </footer>

                </div>
                <div class="card p-3">
                    <img src="assets/images/imagen2.jpg" class="card-img-top" alt="...">
                    <blockquote class="blockquote mb-0 card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card p-3">
                    <img src="assets/images/imagen3.jpg" class="card-img-top" alt="...">
                    <blockquote class="blockquote mb-0 card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card p-3">
                    <img src="assets/images/imagen4.jpg" class="card-img-top" alt="...">
                    <blockquote class="blockquote mb-0 card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card p-3">
                    <img src="assets/images/imagen5.jpg" class="card-img-top" alt="...">
                    <blockquote class="blockquote mb-0 card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card p-3">
                    <img src="assets/images/imagen6.jpg" class="card-img-top" alt="...">
                    <blockquote class="blockquote mb-0 card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card p-3">
                    <img src="assets/images/imagen7.jpg" class="card-img-top" alt="...">
                    <blockquote class="blockquote mb-0 card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>


</div>