<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(f);" #f="ngForm" novalidate="">

    <div>

        <div class="form-group row ">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" type="text" required name="nombre" minlength="5" [(ngModel)]="usuario.nombre" #nombre="ngModel" placeholder="Nombre">
                <div *ngIf="nombre.errors?.required">
                    Este campo es requerido
                </div>
                <div *ngIf="nombre.errors?.minlength">
                    Por lo menos 5 caracteres.
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input class="form-control" type="text" required name="apellido" [(ngModel)]="usuario.apellido" #ape="ngModel" placeholder="Apellido">
                <div *ngIf="ape.errors?.required">
                    Este campo es requerido
                </div>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">
            <input class="form-control" type="email" required name="email" [(ngModel)]="usuario.email" #ema="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Correo electrónico">
            <div *ngIf="ema.errors?.required">
                Este campo es requerido
            </div>
        </div>
    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" [disabled]="!f.valid" class="btn btn-outline-primary">
                 Guardar
            </button>
        </div>
    </div>

</form>