<h1> Héroe <small>Nombre del heroe</small> </h1>
<hr>
<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" [routerLink]="['/home']">
            <i class="fa fa-arrow-left"></i>
        </button>
    </div>
</div>

<div class="row  animated fadeIn faster">
    <div class="col">
        <!-- referencia para usar formularios #f="ngForm" -->
        <form>
            <div class="form-group">
                <label for="">Firebase ID</label>
                <input type="text" class="form-control">
                <small class="form-text text-muted">Este campo es autogenerado</small>
            </div>
            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Poder</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Estado</label>
                <br>
            </div>
            <hr>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25">
                    <i class="fa fa-save"> </i> Guardar
                </button>
            </div>

        </form>
    </div>

</div>

<hr>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Descripción del Producto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Sobre la Marca</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Ficha Tecnica</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#warranty" role="tab" aria-controls="contact" aria-selected="false">Garantias</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        Xiaomi - Mi Band 4 Oled Smart Pulsera Inteligente Ritmo Cardíaco Para IOS y Android - Version 2019 0,95 "Pantalla AMOLEDPantalla colorida con vidrio templado 2.5D antihuellas Nueva interfaz de usuarioLa experiencia de la pantalla táctil más suave y simplificada,
        admite el modo de ajuste del brillo Seguimiento de actividadCuenta pasos, distancia, calorías quemadas soporte 6 Modo de ejercicio Modos de funcionamientoMonitoriza el ritmo cardíaco, rastrea tu velocidad ayuda a protegerte Ejercicio entrenadorSeguimiento
        y entrenamiento, haz que los esfuerzos estén más interesados A modo deGraba pasos, velocidad, calorías quemadas, etc. te ayuda a saber más sobre tu ejercicio Ciclismo modoValoración del ritmo cardíaco al instante, mejora tu experiencia de viaje
        Piscina de modo50 m a prueba de agua, velocidad de registro y otros 12 Datos de natación Sueño de vigilanciaRegistra tu estado de sueño, ayuda a mejorarte Registro de ritmo cardíaco y reloj de alertaViberato para recordarte y mantener registros
        de datos de ritmo cardíaco 24 horas Información básica Marca/modelo: Xiaomi Miband 4Idioma: Versión Global (Multi-idioma), versión china (Inglés)Peso: 22,1gMaterial de la correa de muñeca: TPURequisitos del sistema: Android 4,4, IOS 9,0 o superiorPantalla
        y diseñoPantalla: Pantalla AMOLED de color de 0,95"Píxel: 120x240 píxelesLuminosidad: nits hasta 450 (modo de ajuste de brillo)Material de la pantalla: vidrio templado 2.5D con recubrimiento antihuellas De la batería Batería: Batería de 135 mAhTiempo
        de espera: Hasta 20 días de espera/ 7 dias de uso Tiempo de recarga: menos de 2 horas Seguimiento de actividad Cuenta pasos, distancia, calorías quemadas6 Modo de entrenamiento: caminadora, ejercicio, exterior, correr, ciclismo, caminar, nadar
        Vigilancia de la salud Monitorización de ritmo cardíaco 24/7, alertas de frecuencia cardíacaSueño de vigilanciaIdle alertas Los sensores 3 ejes acelerómetro3-giroscopio de 1 ejeSensor capacitivo de proximidadEl sensor de frecuencia cardíaca óptico
        Conectivo CronómetroReloj de alarmaTemporizadorEncontrar mi teléfono.Desbloqueo de teléfonoRecordatorio de eventoNo molestar modoLa pantalla de bloqueo
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        Marca de celulares, parlantes
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <b>  SKU MIBAND4 Tamaño (L x P x A cm) 1 x 1 x 1 Peso (Kg) 1 Kg Peso de Envío (Kg) 0.4 Kg</b>

    </div>
    <div class="tab-pane fade" id="warranty" role="tabpanel" aria-labelledby="contact-tab">
        En que casos puede devolver este producto? Cambio de Talla No Cambie de Opinión, ya no lo quiero No Producto con Falla de Fábrica SI ¿Cuántos Días tengo para devolver el Producto? 3 días calendario(s)* (*) Los días se contabilizan desde que el producto
        fue entregado.

    </div>
</div>