<app-navbar>
</app-navbar>
<div class="container main-container">
    <!-- <h1 appResaltado> Demos <small> angular</small> </h1>
    <hr> -->
    <!-- 
    <app-ng-style></app-ng-style>

    <br>
    <br> -->
    <!-- <app-clases></app-clases>
    <br>
    -->
    <!-- <p appResaltado [nuevoColor]="'red'">
        Hola mundo
    </p> -->
    <!-- <app-ng-switch> </app-ng-switch> -->


    <router-outlet></router-outlet>
</div>


<!-- 
<hr>
<br>
<div align='center' style=" font-size: 11px;">
    <p style="margin-top: -10px;"> Gas Natural de Lima y Callao S.A </p>
    <p style="margin-top: -10px;"> Calle Morelli Nro. 150 Urb.San Borja </p>
    <p style="margin-top: -10px;"> (Torre 2 CC la Rambla) Lima - Lima - San Borja </p>
</div>
<h1 align='center'> ORDEN DE RECONEXIÓN DEL SERVICIO</h1>
<br>
<div>
    <table class="table" width="100%" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>FECHA : 30/09/2019</td>
                <td align='center'>HORA : 09:42:27</td>
                <td align='center'>CLIENTE N° : 131019</td>
            </tr>
            <tr>
                <td>INSTALACION : 25204</td>
                <td align='center'>MEDIDOR N° : 10017176</td>
                <td align='center'>UBICACION DE MEDIDOR :</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div style="border: 1px solid;">
    <label>1. DATOS DEL CLIENTE</label>
</div>
<br>
<div style=" font-size: 13px;">
    <p style="margin-top: -10px;"> Nombre del Cliente : DANILO MANUEL CARDENAS ROSAS </p>
    <p style="margin-top: -10px;"> Direccion del Suministro : AV LAS FLORES DE PRIMAVERA 379 Piso 1 Coop. LAS FLORES </p>
    <p style="margin-top: -10px;"> Distrito : SAN JUAN DE LURIGANCHO</p>
</div>
<br>
<div style="border: 1px solid;">
    <label>2. DATOS DEL PERSONAL DE CALIDDA O CONTRATISTA ENCARGADO</label>
</div>
<br>
<div style=" font-size: 13px;">
    <table class="table" width="100%" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>Nombre : SUAREZ CARRANZA ALEXIS</td>
                <td align='center'>DNI : 45596251</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div style="border: 1px solid;">
    <label>3. DECLARACIÓN</label>
</div>
<br>
<div align='left'>
    Quien suscribe la presente Orden de Reconexión del Servicio declará bájo juramento y responsabilidad que las instalaciones internas y Equipos del predio ubicado en la dirección detallada precedentemente se encuentran en condiciones seguras para proceder
    a la Reconexión del suministro de Gas Natural. Asi mismo, declara que dichas instalaciones internas y Equipos no han sido modificados y/o manipulados desde su Habilitación o ultima Reconexión del servicio de distribucion de Gas Natural y que la información
    que se detalla a continuación es veraz. Cálidda no sera responsable por los daños y perjuicios que se generen o puedan generar en el incumplimiento de la Presente Declaración Jurada.
</div>
<br>
<div style="border: 1px solid;">
    <label>4. DATOS DE LA VISITA</label>
</div>
<br>

<table class="table" width="100%" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td> <b> Motivo de Reconexión </b> </td>
            <td align='center'>1.Deuda</td>
            <td align='left'>
                <div align='center' style="border: 1px solid;">
                    X
                </div>
            </td>
            <td align='center'>2.APC</td>
            <td align='left'>
                <div align='center' style="border: 1px solid;">
                    X
                </div>
            </td>
            <td align='center'>3.TECNICO</td>
            <td align='left'>
                <div align='center' style="border: 1px solid;">
                    X
                </div>
            </td>
            <td align='center'>4.OTROS</td>
            <td align='left'>
                <div align='center' style="border: 1px solid;">
                    X
                </div>
            </td>
        </tr>
    </tbody>
</table>
<br>

<table class="table" width="400px" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td> <b> RECONEXIÓN EXITOSA </b> </td>
            <td align='left'>
                <div align='center' style="border: 1px solid;">
                    X
                </div>
            </td>
            <td align='center'> Lectura 2612</td>

        </tr>
    </tbody>
</table>
<br>
<label> Artefactos reconectados </label><br>

<table class="table" width="100%" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td align='left'>Cocina</td>
            <td align='left'>
                <div align='center' style="border: 1px solid;">
                    X
                </div>
            </td>
            <td align='center'>Terma</td>
            <td align='left'>
                <div align='center' style="border: 1px solid;">
                    X
                </div>
            </td>
            <td align='center'>Secadora</td>
            <td align='left'>
                <div align='center' style="border: 1px solid;">
                    X
                </div>
            </td>
            <td align='center'>Estufa</td>
            <td align='left'>
                <div align='center' style="border: 1px solid;">
                    X
                </div>
            </td>
        </tr>
    </tbody>
</table>
<br>

<table class="table" width="400px" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td> <b> RECONEXIÓN INFRUCTUOSA </b> </td>
            <td align='left'>
                <div align='center' style="border: 1px solid;">
                    X
                </div>
            </td>
        </tr>
    </tbody>
</table>
<br>
<b> Motivo del Empedimento </b><br>

<table class="table" width="800px" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td align='left'>Cliente Ausente</td>
            <td align='left'>
                <div align='center' style="border: 1px solid;">
                    X
                </div>
            </td>
            <td align='center'>Primera Visita de Reconexion</td>
            <td align='left'>
                <div align='center' style="border: 1px solid;">
                    X
                </div>
            </td>
        </tr>
        <tr>
            <td align='left'>Cliente Impide Acceso</td>
            <td align='left'>
                <div align='center' style="border: 1px solid;">
                    X
                </div>
            </td>
            <td align='center'>Proxima Visita de Reconexion</td>
        </tr>
    </tbody>
</table>
<br> -->